<div class="banner banner-list" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/J39X2xX_8CQ);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>